In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("country_vaccination_stats.csv")

In [5]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [6]:
# Calculate the minimum daily vaccination number for each country
min_vaccinations = df.groupby('country')['daily_vaccinations'].transform('min')

In [7]:
# If a country has no valid vaccination number  replace it with 0
min_vaccinations = min_vaccinations.fillna(0)

In [8]:
# Fill missing values in the daily_vaccinations column with the calculated minimum value for each country
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(min_vaccinations)

In [9]:
df.head(10)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V
5  Argentina    1/3/2021              7400.0  Sputnik V
6  Argentina    1/4/2021              6483.0  Sputnik V
7  Argentina    1/5/2021              7984.0  Sputnik V
8  Argentina    1/6/2021              8173.0  Sputnik V
9  Argentina    1/7/2021              8363.0  Sputnik V

In [10]:
# Save the DataFrame to a new CSV file
df.to_csv('new_country_vaccination_stats.csv', index=False)